In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [15]:
data_processed=pd.read_csv('processed_test_data.csv')
data_processed['area']=data_processed['area'].replace('2000㎡以上',2000)
data_processed

/var/folders/yj/c6q__rvj7y79ltrr_bxk78mm0000gn/T/ipykernel_40057/1281343748.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data_processed=pd.read_csv('processed_test_data.csv')

,time_from_station,area,building_age,建ぺい率（％）,容積率（％）,Hokkaido_Tohoku,Kanto,Chubu,Kinki,Chugoku,...,１Ｒ,２ＤＫ,２Ｋ,２ＬＤＫ,３ＤＫ,３Ｋ,３ＬＤＫ,４ＤＫ,４ＬＤＫ,５ＬＤＫ
0,2.0,100,11.0,80.0,600.0,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,5.0,30,39.0,80.0,400.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0.0,35,46.0,80.0,400.0,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,2.0,70,42.0,80.0,300.0,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1.0,70,38.0,60.0,200.0,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688,26.0,85,30.0,60.0,200.0,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18689,8.0,90,16.0,80.0,400.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
18690,18.0,95,34.0,60.0,200.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18691,4.0,55,35.0,80.0,400.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
18692,4.0,70,9.0,80.0,300.0,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [16]:
data_processed.head(10)

,time_from_station,area,building_age,建ぺい率（％）,容積率（％）,Hokkaido_Tohoku,Kanto,Chubu,Kinki,Chugoku,...,１Ｒ,２ＤＫ,２Ｋ,２ＬＤＫ,３ＤＫ,３Ｋ,３ＬＤＫ,４ＤＫ,４ＬＤＫ,５ＬＤＫ
0,2.0,100,11.0,80.000000,600.000000,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,5.0,30,39.0,80.000000,400.000000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0.0,35,46.0,80.000000,400.000000,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,2.0,70,42.0,80.000000,300.000000,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1.0,70,38.0,60.000000,200.000000,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5,1.0,15,32.0,80.000000,300.000000,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6,6.0,15,33.0,80.000000,300.000000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,5.0,100,4.0,68.831106,319.441528,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
8,2.0,100,18.0,60.000000,200.000000,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9,1.0,80,8.0,80.000000,400.000000,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

#modelを作成する
まず、目的変数と特徴量に分けていく

In [17]:
unscaled_inputs=data_processed.iloc[:,:-1]
unscaled_inputs

,time_from_station,area,building_age,建ぺい率（％）,容積率（％）,Hokkaido_Tohoku,Kanto,Chubu,Kinki,Chugoku,...,１ＬＤＫ,１Ｒ,２ＤＫ,２Ｋ,２ＬＤＫ,３ＤＫ,３Ｋ,３ＬＤＫ,４ＤＫ,４ＬＤＫ
0,2.0,100,11.0,80.0,600.0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,5.0,30,39.0,80.0,400.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0.0,35,46.0,80.0,400.0,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,2.0,70,42.0,80.0,300.0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,1.0,70,38.0,60.0,200.0,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688,26.0,85,30.0,60.0,200.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
18689,8.0,90,16.0,80.0,400.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18690,18.0,95,34.0,60.0,200.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18691,4.0,55,35.0,80.0,400.0,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18692,4.0,70,9.0,80.0,300.0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

次にダミー変数以外の特徴量を標準化していく

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
unscaled_inputs1=unscaled_inputs.iloc[:,:5]
unscaled_inputs2=unscaled_inputs.iloc[:,5:]

In [20]:
apartment_scaler=StandardScaler()
apartment_scaler.fit(unscaled_inputs1)

StandardScaler()

In [26]:
raw_scaled_inputs1=apartment_scaler.transform(unscaled_inputs1)

In [27]:
unscaled_inputs1.columns

Index(['time_from_station', 'area', 'building_age', '建ぺい率（％）', '容積率（％）'], dtype='object')

In [29]:
scaled_inputs1=pd.DataFrame(raw_scaled_inputs1)
scaled_inputs1

              0         1         2         3         4
0     -0.757707  1.605802 -1.022118  1.080280  1.838408
1     -0.499072 -0.865757  1.068900  1.080280  0.527762
2     -0.930131 -0.689217  1.591654  1.080280  0.527762
3     -0.757707  0.546563  1.292938  1.080280 -0.127561
4     -0.843919  0.546563  0.994221 -0.854241 -0.782883
...         ...       ...       ...       ...       ...
18688  1.311376  1.076182  0.396787 -0.854241 -0.782883
18689 -0.240437  1.252722 -0.648722  1.080280  0.527762
18690  0.621682  1.429262  0.695504 -0.854241 -0.782883
18691 -0.585284  0.016943  0.770183  1.080280  0.527762
18692 -0.585284  0.546563 -1.171476  1.080280 -0.127561

[18693 rows x 5 columns]

In [30]:
scaled_inputs1.columns=['time_from_station', 'area', 'building_age', '建ぺい率（％）', '容積率（％）']
scaled_inputs1

       time_from_station      area  building_age   建ぺい率（％）    容積率（％）
0              -0.757707  1.605802     -1.022118  1.080280  1.838408
1              -0.499072 -0.865757      1.068900  1.080280  0.527762
2              -0.930131 -0.689217      1.591654  1.080280  0.527762
3              -0.757707  0.546563      1.292938  1.080280 -0.127561
4              -0.843919  0.546563      0.994221 -0.854241 -0.782883
...                  ...       ...           ...       ...       ...
18688           1.311376  1.076182      0.396787 -0.854241 -0.782883
18689          -0.240437  1.252722     -0.648722  1.080280  0.527762
18690           0.621682  1.429262      0.695504 -0.854241 -0.782883
18691          -0.585284  0.016943      0.770183  1.080280  0.527762
18692          -0.585284  0.546563     -1.171476  1.080280 -0.127561

[18693 rows x 5 columns]

In [31]:
final_scaled_inputs=pd.concat([scaled_inputs1,unscaled_inputs2],axis=1)
final_scaled_inputs

,time_from_station,area,building_age,建ぺい率（％）,容積率（％）,Hokkaido_Tohoku,Kanto,Chubu,Kinki,Chugoku,...,１ＬＤＫ,１Ｒ,２ＤＫ,２Ｋ,２ＬＤＫ,３ＤＫ,３Ｋ,３ＬＤＫ,４ＤＫ,４ＬＤＫ
0,-0.757707,1.605802,-1.022118,1.080280,1.838408,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,-0.499072,-0.865757,1.068900,1.080280,0.527762,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,-0.930131,-0.689217,1.591654,1.080280,0.527762,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,-0.757707,0.546563,1.292938,1.080280,-0.127561,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,-0.843919,0.546563,0.994221,-0.854241,-0.782883,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688,1.311376,1.076182,0.396787,-0.854241,-0.782883,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
18689,-0.240437,1.252722,-0.648722,1.080280,0.527762,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18690,0.621682,1.429262,0.695504,-0.854241,-0.782883,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18691,-0.585284,0.016943,0.770183,1.080280,0.527762,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18692,-0.585284,0.546563,-1.171476,1.080280,-0.127561,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [34]:
final_scaled_inputs.to_csv('test_data',index=False)

In [35]:
final_scaled_inputs.columns.values
##1LK,2LD+S,2LK,3LD,4K'５ＤＫ', '５ＬＤＫ','６ＬＤＫ'

array(['time_from_station', 'area', 'building_age', '建ぺい率（％）', '容積率（％）',
       'Hokkaido_Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Sikoku',
       'Kyusyu', '軽量鉄骨造', '鉄骨造', 'ＲＣ', 'ＲＣ、鉄骨造', 'ＳＲＣ', 'ＳＲＣ、鉄骨造',
       'ＳＲＣ、ＲＣ', 'ＳＲＣ、ＲＣ、鉄骨造', '改装済', '１ＤＫ', '１Ｋ', '１ＬＤＫ', '１Ｒ', '２ＤＫ',
       '２Ｋ', '２ＬＤＫ', '３ＤＫ', '３Ｋ', '３ＬＤＫ', '４ＤＫ', '４ＬＤＫ'], dtype=object)

In [ ]:
 '１ＤＫ', '１Ｋ',
      '１ＬＤＫ', '１ＬＫ', '１Ｒ', '２ＤＫ', '２Ｋ', '２ＬＤ＋Ｓ', '２ＬＤＫ', '２ＬＫ', '３ＤＫ',
       '３Ｋ', '３ＬＤ', '３ＬＤＫ', '３ＬＫ', '４ＤＫ', '４Ｋ', '４ＬＤＫ', '５ＤＫ', '５ＬＤＫ',
       '６ＬＤＫ'